* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    background-color: rgb(245, 245, 245);
}

header {
    width: 100%;
    height: 5rem;
    background-color: rgb(251, 138, 25);
    position: relative;
}

header>img:nth-of-type(1) {
    width: 20%;
    height: 5rem;
    position: absolute;
    left: 10%;
}

header>a>img {
    width: 6%;
    height: 4rem;
    position: absolute;
    right: 21%;
    top: 11%;
}

header>img:nth-of-type(2) {
    width: 6%;
    height: 4rem;
    position: absolute;
    right: 14%;
    top: 11%;
}

nav {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 4rem;
    text-indent: 1rem;
}

nav>a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(124, 122, 122);
}

nav>a:nth-of-type(1) {
    font-size: 1.6rem;
    font-weight: 900;
    color: black;
}

.aat {
    width: 100%;
    height: 29rem;
    background-color: green;
    position: relative;
}

.aat>a {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: block;
    width: 10%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background-color: rgb(0, 0, 0, .8);
    text-decoration: none;
    color: #fff;
}

.aat>img {
    width: 100%;
    height: 100%;
}

.zzo {
    width: 100%;
    height: 8rem;
    display: flex;
    background-color: #fff;
}

.zzo>p {
    flex-grow: 1;
    font-size: 3rem;
    padding-left: 1rem;
    box-sizing: border-box;
    font-weight: 900;
    color: black;
}

.zzo>.ou {
    width: 20%;
    height: 100%;
    font-size: 1.7rem;
    color: #999;
    text-align: center;
    border-left: 1px solid #999;
}

.zzo>.ou>img {
    width: 23%;
    height: 33%;
    margin-top: 2rem;
}

.arrtu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.arrtu>li>p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.arrtu>li>p>span {
    color: rgb(251, 138, 25);
}

.arrtu>.arrtt_ {
    width: 1px;
    height: 4rem;
    background-color: #999;
}

.zziou {
    width: 100%;
    background-color: #fff;
    height: 25rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.zziou>li {
    width: 80%;
    line-height: 8rem;
    border-bottom: 1px solid #999;
    position: relative;
}

.zziou>li>span {
    display: inline-block;
    position: absolute;
    left: 28rem;
    top: 0rem;
}

.atubop {
    width: 100%;
    height: 78rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.atubop>.ooiin {
    width: 80%;
    border: 1px solid #999;
    background-color: #fff;
}

.atubop>.ooiin>h2 {
    height: 5rem;
    text-indent: 1rem;
    line-height: 5rem;
    font-size: 2rem;
    color: rgb(251, 138, 25);
    border-bottom: 1px solid #999;
}

.atubop>.ooiin>p {
    color: black;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 1rem;
    box-sizing: border-box;
}

.atubop>.ooiin>p>span {
    color: red;
}

.atubop>.ooiin>.iuv {
    padding: 0;
    margin: 1rem;
    border: 1px solid #999;
    font-weight: 900;
}

.atubop>.ooiin>.iuv>img {
    width: 100%;
    height: 100%;
}

.atubop>.ooiin>h2>img {
    width: 4%;
    height: 56%;
    margin-top: 1rem;
    float: right;
    margin-right: 1rem;
}

.aaoui {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
}

.aaoui>img {
    width: 0%;
    height: 85%;
    flex-grow: 1;
    margin-left: 3rem;
}

.aaoui>p {
    font-size: 1.6rem;
    color: black;
    margin-left: 1rem;
    font-weight: 500;
    flex-grow: 3;
}

.aaoui>.vvu {
    width: 2%;
    height: 100%;
    flex-grow: 2;
    display: flex;
    margin-right: 1rem;
    justify-content: space-between;
}

.aaoui>.vvu>.vv_0 {
    width: 50%;
    height: 100%;
    text-align: center;
}

.aaoui>.vvu>.vv_1 {
    width: 50%;
    height: 100%;
    text-align: center;
}

.aaoui>.vvu>.vv_0>img {
    width: 69%;
    height: 58%;
}

.aaoui>.vvu>.vv_1>img {
    width: 69%;
    height: 58%;
}

#req {
    list-style: none;
}

#req>ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#req>ul>li {
    width: 100%;

    background-color: rgb(47, 49, 48);
}

#req>ul>li>p {
    margin-left: 3rem;
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(123, 136, 144);
}

.wee {
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

.wee>li {
    background-color: rgb(47, 49, 48);
    width: 100%;
    height: 13rem;
}

.wee>li>img {
    float: left;
    margin-left: 7rem;
    width: 20%;
    height: 51%;
}

.wee>li>p {
    margin-left: 15rem;
    margin-top: 2rem;
    color: rgb(131, 149, 148);
    font-size: 1.6rem;
}

.oiu {
    text-align: center;
    line-height: 5rem;
}